.incidentMarker {
    font-size: 0.8em;
}

.incidentMarker .incidentMarker-details {
    visibility: hidden;
    width: 120px;
    background-color: rgb(117, 113, 113);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
  }

.incidentMarker:hover .incidentMarker-details {
visibility: visible;
}

.autosuggestElement{
    background-color: white;
}

.autosuggestElement:hover{
    background-color: wheat;
}